In [2]:
import pandas as pd
from sklearn.feature_selection import mutual_info_classif

In [3]:
df = pd.read_csv("train.csv")
X1= pd.read_csv("X1.csv")
X1 = X1.drop(columns="Unnamed: 0")
y = df.loan_defaulted
X1

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver,Education_Level,Income_Category
0,44,3,36,2,3,3,6680.0,1839,4841.0,0.617,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,39,1,34,3,1,1,2884.0,2517,367.0,0.693,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,5.0
2,52,1,36,4,2,2,14858.0,1594,13264.0,0.510,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,3.0
3,34,0,17,4,1,4,2638.0,2092,546.0,0.591,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
4,47,5,36,3,1,2,8896.0,1338,7558.0,0.741,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7083,47,5,40,5,1,3,2950.0,2000,950.0,0.882,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,0.0
7084,46,4,30,3,1,3,5869.0,0,5869.0,0.852,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,5.0
7085,52,1,35,1,3,3,1959.0,1022,937.0,0.780,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7086,39,2,26,1,2,2,3879.0,0,3879.0,0.928,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,2.0
7087,52,3,44,3,3,2,2300.0,1598,702.0,0.813,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [4]:

mi_scores = mutual_info_classif(X1, y, discrete_features='auto')
mi_series = pd.Series(mi_scores, index=X1.columns).sort_values(ascending=False)
mi_series

Total_Trans_Amt             0.158407
Total_Trans_Ct              0.108848
Total_Ct_Chng_Q4_Q1         0.096051
Total_Revolving_Bal         0.086481
Avg_Utilization_Ratio       0.054061
Total_Amt_Chng_Q4_Q1        0.032172
Contacts_Count_12_mon       0.026676
Months_Inactive_12_mon      0.025613
Avg_Open_To_Buy             0.019698
Total_Relationship_Count    0.009304
Gender_M                    0.008918
Education_Level             0.006971
Income_Category             0.006133
Marital_Status_Married      0.005968
Customer_Age                0.005400
Gender_F                    0.004697
Credit_Limit                0.003181
Card_Category_Blue          0.002273
Dependent_count             0.001334
Card_Category_Silver        0.000934
Months_on_book              0.000000
Marital_Status_Divorced     0.000000
Card_Category_Gold          0.000000
Marital_Status_Unknown      0.000000
Marital_Status_Single       0.000000
Card_Category_Platinum      0.000000
dtype: float64