In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("X1.csv")

In [3]:
dff = df.drop(columns= "Unnamed: 0")
dff

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver,Education_Level,Income_Category
0,44,3,36,2,3,3,6680.0,1839,4841.0,0.617,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,39,1,34,3,1,1,2884.0,2517,367.0,0.693,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,5.0
2,52,1,36,4,2,2,14858.0,1594,13264.0,0.510,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,3.0
3,34,0,17,4,1,4,2638.0,2092,546.0,0.591,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
4,47,5,36,3,1,2,8896.0,1338,7558.0,0.741,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7083,47,5,40,5,1,3,2950.0,2000,950.0,0.882,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,0.0
7084,46,4,30,3,1,3,5869.0,0,5869.0,0.852,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,5.0
7085,52,1,35,1,3,3,1959.0,1022,937.0,0.780,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7086,39,2,26,1,2,2,3879.0,0,3879.0,0.928,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,2.0
7087,52,3,44,3,3,2,2300.0,1598,702.0,0.813,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [4]:
dff["Avg_Transaction_Amt"] = dff["Total_Trans_Amt"]/df["Total_Trans_Ct"]
dff['Inactive'] = (dff['Months_Inactive_12_mon'] >= 3).astype(int)
dff['Revolving_Bal_Bin'] = pd.cut(
    dff['Total_Revolving_Bal'],
    bins=[-1, 600, 1100, float('inf')],
    labels=[0, 1, 2])
dff['high_contact'] = (dff['Contacts_Count_12_mon'] >= 3).astype(int)
dff

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver,Education_Level,Income_Category,Avg_Transaction_Amt,Inactive,Revolving_Bal_Bin,high_contact
0,44,3,36,2,3,3,6680.0,1839,4841.0,0.617,...,1.0,0.0,0.0,0.0,0.0,0.0,80.336842,1,2,1
1,39,1,34,3,1,1,2884.0,2517,367.0,0.693,...,1.0,0.0,0.0,0.0,3.0,5.0,55.275862,0,2,0
2,52,1,36,4,2,2,14858.0,1594,13264.0,0.510,...,1.0,0.0,0.0,0.0,6.0,3.0,59.527778,0,2,0
3,34,0,17,4,1,4,2638.0,2092,546.0,0.591,...,1.0,0.0,0.0,0.0,3.0,1.0,43.441860,0,2,1
4,47,5,36,3,1,2,8896.0,1338,7558.0,0.741,...,1.0,0.0,0.0,0.0,5.0,0.0,60.742857,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7083,47,5,40,5,1,3,2950.0,2000,950.0,0.882,...,1.0,0.0,0.0,0.0,6.0,0.0,60.025316,0,2,1
7084,46,4,30,3,1,3,5869.0,0,5869.0,0.852,...,1.0,0.0,0.0,0.0,1.0,5.0,61.481928,0,0,1
7085,52,1,35,1,3,3,1959.0,1022,937.0,0.780,...,1.0,0.0,0.0,0.0,1.0,0.0,120.723077,1,1,1
7086,39,2,26,1,2,2,3879.0,0,3879.0,0.928,...,1.0,0.0,0.0,0.0,2.0,2.0,96.123457,0,0,0
7087,52,3,44,3,3,2,2300.0,1598,702.0,0.813,...,1.0,0.0,0.0,0.0,0.0,0.0,51.035714,1,2,0

In [5]:
dff.to_csv("df.csv",index=False)